.hero-wraper {
  position: relative;
  min-height: 100dvh;
  width: 100%;
  &-img {
    position: absolute;
    width: 100%;
    height: 100dvh;
  }
  &-img-top {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    top: 50%;
    left: 34%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #fff;
    p {
        color: #F3E2A5;
        font-size: 20px;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 6px;
        margin-bottom: 6px;
    }
    h2 {
        color: #FFFFFF;
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    h5 {
        font-size: 24px;
        font-weight: 500;
        color: #E3E8EF;
        margin-bottom: 30px;
    }
    button {
        width: 181px;
        border-radius: 12px;
        border: none;
         background: linear-gradient(to right, #083d91, #0071dc);
         display: flex;
         align-items: center;
         justify-content: center;
         gap: 8px;
         padding: 10px;
         color: #ffffff;
    }
  }
}

