.card {
    &-card1 {
        width: 803px;
        border-radius: 16px;
        background-color: #FFFFFF;

    }

    &-card2 {
        width: 803px;
        border-radius: 16px;
        background-color: #FFFFFF;
        
    }
}