.faq {
  h2 {
    color: #121926;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 16px;
  }
  p {
    color: #364152;
    font-weight: 500;
    font-size: 16px;
  }
  &-card {
    background-color: #ffffff;
    border-radius: 16px;
    padding: 16px;
    margin-bottom: 16px;
    &-image {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 16px;

      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px;
      }

      &-img {
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 16px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 12px;
        }
      }
    }
  }
  &-text {
    background-color: #ffffff;
    border-radius: 16px;
    padding: 16px;
    margin-bottom: 16px;
    &-list {
      list-style: none;
      padding-left: 20px;
      margin: 0;
      color: #1f2937;
      li {
        font-size: 16px;
        font-weight: 500;
        color: #364152;
        margin-bottom: 8px;
      }
    }

    &-card {
      display: flex;
      align-items: center;
      gap: 16px;
      &-card1 {
        width: 231px;
        height: 255px;
        padding: 20px 16px;
        border: 1px solid #e3e8ef;
        border-radius: 12px;
        background-color: #ffffff;

        background-image: url("../../images/naqish.svg");
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 97px;

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        img {
          width: 48px;
          height: 48px;
          padding: 12px;
          border-radius: 50%;
          background-color: #2563eb;
          margin-bottom: 16px;
        }

        b {
          font-size: 20px;
          font-weight: 600;
          color: #000000;
          margin-bottom: 8px;
        }

        p {
          font-size: 16px;
          font-weight: 500;
          color: #364152;
          line-height: 1.4;
        }
      }
    }
  }
  &-top {
    width: 100%;
    height: 0;
    border: 1px solid #e3e8ef;
    margin-bottom: 16px;
  }
  .top2 {
    width: 100%;
    border: 1px solid #145fcb;
    height: 0;
    margin-bottom: 5px;
  }
}
