.relation {
  &-text {
    background-color: #ffffffff;
    border-radius: 16px;
    padding: 16px;
    margin-bottom: 16px;
    h2 {
      font-size: 30px;
      font-weight: 600;
      color: #121926;
      margin-bottom: 16px;
    }
    &-top {
      width: 100%;
      height: 0.5px;
      background-color: #e3e8ef;
      margin-bottom: 16px;
    }
    p {
      color: #364152;
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 16px;
    }
    ul {
      li {
        margin-bottom: 16px;
        color: #364152;
        font-size: 18px;
        font-weight: 500;
        span {
            color: #121926;
            font-weight: 600;
        }
      }
    }
  }
  &-carusel {
    background-color: #ffffffff;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
  }
}
