.lider {
  // padding: 20px;

  &-card {
    background-color: #ffffff;
    border-radius: 16px;
    display: flex;
    overflow: visible;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
    background-image: url("../../images/tuzilmalar-img.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    cursor: pointer;
    transition: transform 0.3s ease;
    background-size: 73px;
    background-position: right 20px top;
  }

  &-card1 {
    background-color: #ffffff;
    border-radius: 16px;
    display: flex;
    overflow: visible;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
    background-image: url("../../images/tuzilmalar-img.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    cursor: pointer;
    transition: transform 0.3s ease;
    background-size: 73px;
    background-position: right 20px top;
  }

  &-card2 {
    background-color: #ffffff;
    border-radius: 16px;
    display: flex;
    overflow: visible;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
    background-image: url("../../images/tuzilmalar-img.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    cursor: pointer;
    transition: transform 0.3s ease;
    background-size: 73px;
    background-position: right 20px top;
  }

  .lider-img-wrapper1 {
    position: relative;
    width: 434px;
    padding: 16px;

    .lider-img-shef1 {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 12px;
    }
  }

  .lider-img-wrapper {
    position: relative;
    width: 434px;

    .lider-img-shef {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 16px 0 0 16px;
    }

    .lider-gerb-circle {
      position: absolute;
      right: -40px;
      top: 50%;
      transform: translateY(-50%);
      height: 60px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 5;

      img {
        width: 87%;
      }
    }
  }

  .lider-img-wrapper2 {
    position: relative;
    width: 434px;

    .lider-img-shef2 {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 16px 0 0 16px;
    }

    .lider-gerb-circle2 {
      position: absolute;
      right: -58px;
      top: 50%;
      transform: translateY(-50%);
      height: 60px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 5;

      img {
        width: 87%;
        z-index: 10;
      }
      &-color {
        background-color: #063462;
        width: 15px;
        height: 290px;
        position: relative;
        left: -51px;
      }
    }
  }

  &-card-text {
    &-top {
      width: 100%;
      height: 0.5px;
      background-color: #e3e8ef;
      margin-bottom: 25px;
    }
    padding: 30px 40px;
    flex: 1;
    p {
      color: #145fcb;
      font-size: 18px;
      font-weight: 500;
      display: flex;
      align-items: center;
      gap: 6px;
      span {
        width: 4px;
        height: 25px;
        background-color: #145fcb;
        border-radius: 26px;
      }
    }

    h4 {
      font-size: 28px;
      margin: 15px 0 40px 0;
      font-weight: 600;
    }

    &-link {
      display: flex;
      gap: 20px;
      margin-bottom: 20px;
      a {
        text-decoration: none;
        color: #121926;
        font-size: 16px;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 8px;
        i {
          color: #145fcb;
          font-size: 24px;
        }
      }
    }

    &-button {
      display: flex;
      align-items: center;
      gap: 16px;
      button {
        background: #f5f9ff;
        color: #145fcb;
        border: 1px solid #145fcb;
        padding: 10px 20px;
        border-radius: 8px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 500;
        transition: background 0.3s ease;

        &:hover {
          background: #0d4cb833;
        }
      }
    }
  }

  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: background 0.3s ease;
}

.lider-details {
  display: none;
  background: #ffffff;
  padding: 25px;
  border-radius: 16px;
  margin-top: 10px;
  border: 1px solid #e3e8ef;
  animation: slideDown 0.3s ease-out;
  margin-bottom: 30px;

  h5 {
    font-weight: 700;
    margin-bottom: 15px;
  }
  ul {
    list-style: none;
    li {
      padding-left: 20px;
      position: relative;
      margin-bottom: 10px;
      &::before {
        content: "-";
        position: absolute;
        left: 0;
      }
    }
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
