.nashirlar {
  background-color: #ffffff;
  padding: 16px;
  border-radius: 16px;
  h2 {
    color: #000000;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 16px;
  }
  &-top {
    width: 100%;
    height: 0.5px;
    background-color: #e3e8ef;
    margin-bottom: 16px;
  }

  &-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    &-birlik {
      display: flex;
      align-items: center;
      gap: 16px;
      &-button1 {
        width: 178px;
        border-radius: 12px;
        background-color: #f5f9ff;
        border: 1px solid #145fcb;
        color: #145fcb;
        font-size: 16px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        gap: 8px;
        cursor: pointer;
      }
      &-button2 {
        width: 88px;
        border-radius: 12px;
        background-color: #f5f9ff;
        border: 1px solid #145fcb;
        color: #145fcb;
        font-size: 16px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        gap: 8px;
        cursor: pointer;
      }
      &-button3 {
        width: 71px;
        border-radius: 12px;
        background-color: #f5f9ff;
        border: 1px solid #145fcb;
        color: #145fcb;
        font-size: 16px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        gap: 8px;
        cursor: pointer;
      }
    }
    &-rait {
      display: flex;
      align-items: center;
      gap: 16px;
      button {
        width: 145px;
        border-radius: 12px;
        background-color: #f5f9ff;
        border: 1px solid #145fcb;
        color: #145fcb;
        font-size: 16px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        gap: 8px;
        cursor: pointer;
      }
    }
  }
}
