.portfolio {
  padding: 80px 0;
  background: var(--bg-light);
  margin-bottom: 100px;

  &-wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;
  }

  &-btn {
    width: 118px;
    cursor: pointer;
    border: 1px solid #145FCB;
    color: #145FCB;
    font-size: 16px;
    font-weight: 600;
    padding:8px;
    border-radius: 12px;
    background: transparent;
  }

  /* LEFT */
  &-left {
    width: 680px;
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;

      h2 {
        color: #000000;
        font-size: 36px;
        font-weight: 700;
      }
    }

    &__cards {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }

  /* CARD */
  &-card {
    width: 680px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 24px;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #fff;

    &:hover {
      transform: translateY(-2px);
    }

    &:nth-child(1) {
      background: linear-gradient(135deg, #8098F9, #6172F3);
    }

    &:nth-child(2) {
      background: linear-gradient(135deg, #2E90FA, #1570EF);
    }

    &:nth-child(3) {
      background: linear-gradient(135deg, #06AED4, #088AB2);
    }

    &__icon {
        border: 1px solid white;
        opacity: 0.6;
      width: 70px;
      height: 70px;
      border-radius: 12px;
      background: rgba(255, 255, 255, 0.2);
      display: flex;
      align-items: center;
      justify-content: center;
      

      img {
        width: 52px;
        height: 52px;
      }
    }

    &__content {
      flex: 1;

      h3 {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 6px;
      }

      p {
        font-size: 14px;
        line-height: 20px;
        opacity: 0.9;
      }
    }

    &__play {
      width: 60px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.3s;
      opacity: 0.4;

      &:hover {
        background: rgba(255, 255, 255, 0.45);
        transform: scale(1.1);
      }

      i {
        color: #fff;
      }
    }
  }

  /* RIGHT */
  &-right {
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;

      h2 {
        font-size: 36px;
        font-weight: 700;
        color: #000000;
      }
    }

    &__accordion {
      display: flex;
      flex-direction: column;
      gap: 12px;
      background: linear-gradient(135deg, #063462, #063462, #1E4F8F, #0071DC);
      padding: 25px;
      border-radius: 16px;
      button {
        background-color: #FFFFFF;
        border: none;
        border-radius: 12px;
        padding: 11px;
        color: #121926;
        font-size: 20px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
          color: #0071DC;
          font-size: 24px;
        }
      }
    }
  }
}
