.prints {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    &-card {
        display: flex ;
        align-items: center;
        flex-direction: column;
        &-text {
            position: relative;
            top: -40px;
            width: 407px;
            background-color: #ffffff;
            border-radius: 16px;
            padding: 16px;
            h3 {
                color: #000000;
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 5px;
            } 
            P {
                color: #000000;
                font-size: 14px;
                font-weight: 500;
                opacity: 0.6;
                margin-bottom: 10px;
            }
            &-top {
                width: 100%;
                height: 0.5px;
                background-color: #bfbcbc;
                margin-bottom: 10px;
            }
            &-icon {
                display: flex;
                align-items: center;
                justify-content: space-between;
                p {
                    color: #000000;
                    font-size: 16px;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    i {
                        color: #145FCB;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}