.qonunlar {
    padding: 30px;
    border-radius: 16px;
    background-color: #ffffff;

    .top {
        width: 100%;
        height: 1px;
        background-color: #E3E8EF;
        margin: 16px 0;
    }

    &-row {
        display: grid;
        grid-template-columns: 2.5fr 2fr 155px;
        align-items: center;
        gap: 20px;
        margin-bottom: 8px;

        h3 {
            color: #121926;
            font-size: 18px;
            font-weight: 600;
            margin: 0; 
            display: block; 
        }

        p {
            color: #364152;
            font-size: 16px;
            font-weight: 500;
            margin: 0;
        }

        &.qonunlar-header {
            .text-right {
                text-align: right;
                padding-right: 20px;
            }
        }

        .btn-wrapper {
            display: flex;
            justify-content: flex-end;
            
            button {
                width: 151px;
                border-radius: 12px;
                border: 1px solid #145FCB;
                color: #145FCB;
                background-color: #F5F9FF;
                padding: 10px;
                display: flex;
                align-items: center;
                gap: 8px;
                justify-content: center;
                cursor: pointer;
            }
        }
    }
}