.manners {
    background-color: #FFFFFF;
    padding: 16px;
    border-radius: 16px;
    &-text {
        h2 {
        font-size: 30px;
        font-weight: 600;
        color: #121926;
        margin-bottom: 16px;
    }
    .top {
        width: 100%;
        height: 1px;
        background-color: #E3E8EF;
        margin-bottom: 16px;
    }
    &-list {
        h3 {
            font-size: 24px;
            font-weight: 500;
            color: #121926;
            margin-bottom: 10px
        }
        p {
            color: #364152;
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 10PX;
        }
    }
    }
    
}