@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?cdzh27');
  src:  url('fonts/icomoon.eot?cdzh27#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?cdzh27') format('truetype'),
    url('fonts/icomoon.woff?cdzh27') format('woff'),
    url('fonts/icomoon.svg?cdzh27#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-arrow:before {
  content: "\e900";
}
.i-arrow-right:before {
  content: "\e901";
}
.i-calendar:before {
  content: "\e902";
}
.i-download:before {
  content: "\e903";
}
.i-dropdown:before {
  content: "\e904";
}
.i-eye:before {
  content: "\e905";
}
.i-facebook:before {
  content: "\e906";
}
.i-faceook-darc:before {
  content: "\e907";
}
.i-instagram:before {
  content: "\e908";
}
.i-instagram-darc:before {
  content: "\e909";
}
.i-location:before {
  content: "\e90a";
}
.i-maile:before {
  content: "\e90b";
}
.i-message:before {
  content: "\e90c";
}
.i-money:before {
  content: "\e90d";
}
.i-paperclip:before {
  content: "\e90e";
}
.i-phone:before {
  content: "\e90f";
}
.i-plus:before {
  content: "\e910";
}
.i-plussvg2026_01_22_13_17_450:before {
  content: "\e911";
}
.i-printer:before {
  content: "\e912";
}
.i-search:before {
  content: "\e913";
}
.i-telegram:before {
  content: "\e914";
}
.i-telegram-darc:before {
  content: "\e915";
}
.i-youtube:before {
  content: "\e916";
}
.i-youtube-darc:before {
  content: "\e917";
}
