@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?u8j56r');
  src:  url('fonts/icomoon.eot?u8j56r#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?u8j56r') format('truetype'),
    url('fonts/icomoon.woff?u8j56r') format('woff'),
    url('fonts/icomoon.svg?u8j56r#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-arrow:before {
  content: "\e900";
}
.i-arrow-right:before {
  content: "\e901";
}
.i-calendar:before {
  content: "\e902";
}
.i-dropdown:before {
  content: "\e903";
}
.i-eye:before {
  content: "\e904";
}
.i-facebook:before {
  content: "\e905";
}
.i-instagram:before {
  content: "\e906";
}
.i-maile:before {
  content: "\e907";
}
.i-phone:before {
  content: "\e908";
}
.i-plus:before {
  content: "\e909";
}
.i-search:before {
  content: "\e90a";
}
.i-telegram:before {
  content: "\e90b";
}
.i-youtube:before {
  content: "\e90c";
}
