<section>
    <div class="card">
        <div class="card-card1">
            <h2>Aloqa ma’lumotlari</h2>
            <div class="card-card1-top"></div>
        </div>
        <div class="card-card2">
            <h2>Aloqa ma’lumotlari</h2>
            <div class="card-card2-top"></div>
        </div>
    </div>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2995.2555945512368!2d69.22059327666942!3d41.34679789851098!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8d003fc1af03%3A0xb64feee46c377553!2sMilliy%20malaka%20tizimini%20rivojlantirish%20instituti!5e0!3m2!1sru!2s!4v1768915110897!5m2!1sru!2s"
        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
