<section class="central ">
    <div class="central-card">
        <img src="../../images/central-img-1.png" alt="">
        <div class="central-card-text">
            <p>
                <span></span>
                Tarmoq kengashlari bilan ishlash kasbiy standartlar guruhi rahbari
            </p>
            <h3>Rajabov Barna Jurakulovich</h3>
            <div class="central-card-text-icon">
                <p><i class="i-phone"></i>+99855-516-54-53 (113)</p>
                <p><i class="i-maile"></i>a.allabergenov@mmtri.uz</p>
                <p><i class="i-calendar"></i>Dushanba 09:00 - 18:00</p>
            </div>
            <div class="central-card-text-parent"></div>
            <div class="central-card-text-btn">
                <button class="central-card-text-btn-btn1">Vazifalari <i class="i-dropdown"></i></button>
                <button class="central-card-text-btn-btn2">Biografiyasi <i class="i-dropdown"></i></button>
            </div>
        </div>
    </div>

    <div class="central-card">
        <img src="../../images/central-img-2.png" alt="">
        <div class="central-card-text">
            <p>
                <span></span>
               Malakani baholash va akkreditatsiya guruhi rahbari v.v.b
            </p>
            <h3>Xayitov Nazar Boymurot o‘g‘li</h3>
            <div class="central-card-text-icon">
                <p><i class="i-phone"></i>+99855-516-54-53 (126)</p>
                <p><i class="i-maile"></i>b.rajabov@mmtri.uz</p>
                <p><i class="i-calendar"></i>Chorshanba  09:00 - 18:00</p>
            </div>
            <div class="central-card-text-parent"></div>
            <div class="central-card-text-btn">
                <button class="central-card-text-btn-btn1">Vazifalari <i class="i-dropdown"></i></button>
                <button class="central-card-text-btn-btn2">Biografiyasi <i class="i-dropdown"></i></button>
            </div>
        </div>
    </div>

    <div class="central-card">
        <img src="../../images/central-img-3.png" alt="">
        <div class="central-card-text">
            <p>
                <span></span>
                Strategik rivojlanish, tadqiqotlar va xalqaro hamkorlik guruhi rahbari v.v.b
            </p>
            <h3>Fatullayeva Nargiza Asrorovna</h3>
            <div class="central-card-text-icon">
                <p><i class="i-phone"></i>+99855-516-54-53 (134)</p>
                <p><i class="i-maile"></i>n.fatullayeva@mmtri.uz</p>
                <p><i class="i-calendar"></i>Chorshanba  09:00 - 18:00</p>
            </div>
            <div class="central-card-text-parent"></div>
            <div class="central-card-text-btn">
                <button class="central-card-text-btn-btn1">Vazifalari <i class="i-dropdown"></i></button>
                <button class="central-card-text-btn-btn2">Biografiyasi <i class="i-dropdown"></i></button>
            </div>
        </div>
    </div>

    <div class="central-card">
        <img src="../../images/central-img-4.png" alt="">
        <div class="central-card-text">
            <p>
                <span></span>
                Malaka oshirishni tashkil etish va uslubiy ta’minot guruhi rahbari
            </p>
            <h3>Kurbanova Muazzam Fazlitdinovna</h3>
            <div class="central-card-text-icon">
                <p><i class="i-phone"></i>+99855-516-54-53 (139)</p>
                <p><i class="i-maile"></i>m.kurbanova@mmtri.uz</p>
                <p><i class="i-calendar"></i>Juma   09:00 - 18:00</p>
            </div>
            <div class="central-card-text-parent"></div>
            <div class="central-card-text-btn">
                <button class="central-card-text-btn-btn1">Vazifalari <i class="i-dropdown"></i></button>
                <button class="central-card-text-btn-btn2">Biografiyasi <i class="i-dropdown"></i></button>
            </div>
        </div>
    </div>
</section>