<section class="central">
    <div class="lider-card1">
        <div class="lider-img-wrapper1">
            <img src="../../images/central-img-1.png" alt="Raxbar" class="lider-img-shef1">
        </div>
        <div class="lider-card-text">
            <p><span></span>Tarmoq kengashlari bilan ishlash kasbiy standartlar guruhi rahbari</p>
            <h4>Rajabov Barna Jurakulovich</h4>
            <div class="lider-card-text-link">
                <a href="tel:+998555165453"><i class="i-phone"></i>+99855-516-54-53 (113)</a>
                <a href="mailto:b.rajabov@mmtri.uz"><i class="i-maile"></i> b.rajabov@mmtri.uz</a>
                <a><i class="i-calendar"></i> Seshanba 09:00 - 18:00</a>
            </div>
            <div class="lider-card-text-top"></div>
            <div class="lider-card-text-button">
                <button class="toggle-btn" data-target="vazifa-c1">Vazifalari <i class="i-dropdown"></i></button>
                <button class="toggle-btn" data-target="bio-c1">Biografiyasi <i class="i-dropdown"></i></button>
            </div>
        </div>
    </div>
    <div id="vazifa-c1" class="lider-details">
        <h5>Vazifalari (Rajabov Barna)</h5>
        <ul>
            <li>– Respublika kengashining a’zosi hisoblanib, kotibi vazifasini bajaradi;</li>

            <li>– Institut vakolatiga kiradigan masalalar yuzasidan qarorlar qabul qiladi hamda Institutga yuklangan

                vazifalar va funksiyalar amalga oshirilishi uchun shaxsan javob</li>

            <li>beradi;</li>

            <li>– Institutda milliy malaka tizimini rivojlantirish bo‘yicha ilmiy-tadqiqot va ilmiy-metodik ishlar olib

                borish uchun shart-sharoitlar yaratadi;</li>

            <li>– Institut faoliyatini yanada takomillashtirishga taalluqli konsepsiyalar, dasturlar va kompleks

                tadbirlarning bajarilishini tanqidiy hamda chuqur tahlil qiladi;</li>

            <li>– Institut xodimlari uchun bajarilishi majburiy bo‘lgan buyruqlar chiqaradi va ko‘rsatmalar beradi;</li>

            <li>– Institut xodimlarini belgilangan tartibda ishga qabul qiladi va lavozimdan ozod qiladi;</li>

            <li>– Institut nomidan xo‘jalik shartnomalari tuzadi, ishonchnomalar beradi;</li>

            <li>– Direktor qonunchilik hujjatlariga muvofiq boshqa vakolatlarni ham amalga oshiradi.</li>
        </ul>
    </div>
    <div id="bio-c1" class="lider-details">
        <h5>Biografiyasi</h5>
        <p>Biografiya ma'lumotlari shu yerda...</p>
    </div>

    <div class="lider-card1">
        <div class="lider-img-wrapper1">
            <img src="../../images/central-img-2.png" alt="Raxbar" class="lider-img-shef1">
        </div>
        <div class="lider-card-text">
            <p><span></span>Malakani baholash va akkreditatsiya guruhi rahbari v.v.b</p>
            <h4>Xayitov Nazar Boymurot o‘g‘li</h4>
            <div class="lider-card-text-link">
                <a href="tel:+998555165453"><i class="i-phone"></i>+99855-516-54-53 (126)</a>
                <a href="mailto:b.rajabov@mmtri.uz"><i class="i-maile"></i> b.rajabov@mmtri.uz</a>
                <a><i class="i-calendar"></i> Chorshanba 09:00 - 18:00</a>
            </div>
            <div class="lider-card-text-top"></div>
            <div class="lider-card-text-button">
                <button class="toggle-btn" data-target="vazifa-c2">Vazifalari <i class="i-dropdown"></i></button>
                <button class="toggle-btn" data-target="bio-c2">Biografiyasi <i class="i-dropdown"></i></button>
            </div>
        </div>
    </div>
    <div id="vazifa-c2" class="lider-details">
        <h5>Vazifalari (Xayitov Nazar)</h5>
        <ul>
          <li>– Respublika kengashining a’zosi hisoblanib, kotibi vazifasini bajaradi;</li>

            <li>– Institut vakolatiga kiradigan masalalar yuzasidan qarorlar qabul qiladi hamda Institutga yuklangan

                vazifalar va funksiyalar amalga oshirilishi uchun shaxsan javob</li>

            <li>beradi;</li>

            <li>– Institutda milliy malaka tizimini rivojlantirish bo‘yicha ilmiy-tadqiqot va ilmiy-metodik ishlar olib

                borish uchun shart-sharoitlar yaratadi;</li>

            <li>– Institut faoliyatini yanada takomillashtirishga taalluqli konsepsiyalar, dasturlar va kompleks

                tadbirlarning bajarilishini tanqidiy hamda chuqur tahlil qiladi;</li>

            <li>– Institut xodimlari uchun bajarilishi majburiy bo‘lgan buyruqlar chiqaradi va ko‘rsatmalar beradi;</li>

            <li>– Institut xodimlarini belgilangan tartibda ishga qabul qiladi va lavozimdan ozod qiladi;</li>

            <li>– Institut nomidan xo‘jalik shartnomalari tuzadi, ishonchnomalar beradi;</li>

            <li>– Direktor qonunchilik hujjatlariga muvofiq boshqa vakolatlarni ham amalga oshiradi.</li>
        </ul>
    </div>

    <div class="lider-card1">
        <div class="lider-img-wrapper1">
            <img src="../../images/central-img-3.png" alt="Raxbar" class="lider-img-shef1">
        </div>
        <div class="lider-card-text">
            <p><span></span>Strategik rivojlanish, tadqiqotlar va xalqaro hamkorlik guruhi rahbari v.v.b</p>
            <h4>Fatullayeva Nargiza Asrorovna</h4>
            <div class="lider-card-text-link">
                <a href="tel:+998555165453"><i class="i-phone"></i>+99855-516-54-53 (134)</a>
                <a href="mailto:n.fatullayeva@mmtri.uz"><i class="i-maile"></i> b.rajabov@mmtri.uz</a>
                <a><i class="i-calendar"></i> Chorshanba 09:00 - 18:00</a>
            </div>
            <div class="lider-card-text-top"></div>
            <div class="lider-card-text-button">
                <button class="toggle-btn" data-target="vazifa-c3">Vazifalari <i class="i-dropdown"></i></button>
                <button class="toggle-btn" data-target="bio-c3">Biografiyasi <i class="i-dropdown"></i></button>
            </div>
        </div>
    </div>
    <div id="vazifa-c3" class="lider-details">
        <h5>Vazifalari (Fatullayeva Nargiza)</h5>
        <ul>
           <li>– Respublika kengashining a’zosi hisoblanib, kotibi vazifasini bajaradi;</li>

            <li>– Institut vakolatiga kiradigan masalalar yuzasidan qarorlar qabul qiladi hamda Institutga yuklangan

                vazifalar va funksiyalar amalga oshirilishi uchun shaxsan javob</li>

            <li>beradi;</li>

            <li>– Institutda milliy malaka tizimini rivojlantirish bo‘yicha ilmiy-tadqiqot va ilmiy-metodik ishlar olib

                borish uchun shart-sharoitlar yaratadi;</li>

            <li>– Institut faoliyatini yanada takomillashtirishga taalluqli konsepsiyalar, dasturlar va kompleks

                tadbirlarning bajarilishini tanqidiy hamda chuqur tahlil qiladi;</li>

            <li>– Institut xodimlari uchun bajarilishi majburiy bo‘lgan buyruqlar chiqaradi va ko‘rsatmalar beradi;</li>

            <li>– Institut xodimlarini belgilangan tartibda ishga qabul qiladi va lavozimdan ozod qiladi;</li>

            <li>– Institut nomidan xo‘jalik shartnomalari tuzadi, ishonchnomalar beradi;</li>

            <li>– Direktor qonunchilik hujjatlariga muvofiq boshqa vakolatlarni ham amalga oshiradi.</li>
        </ul>
    </div>

    <div class="lider-card1">
        <div class="lider-img-wrapper1">
            <img src="../../images/central-img-4.png" alt="Raxbar" class="lider-img-shef1">
        </div>
        <div class="lider-card-text">
            <p><span></span>Malaka oshirishni tashkil etish va uslubiy ta’minot guruhi rahbari</p>
            <h4>Kurbanova Muazzam Fazlitdinovna</h4>
            <div class="lider-card-text-link">
                <a href="tel:+998555165453"><i class="i-phone"></i>+99855-516-54-53 (139)</a>
                <a href="mailto:m.kurbanova@mmtri.uz"><i class="i-maile"></i> m.kurbanova@mmtri.uz</a>
                <a><i class="i-calendar"></i> Juma 09:00 - 18:00</a>
            </div>
            <div class="lider-card-text-top"></div>
            <div class="lider-card-text-button">
                <button class="toggle-btn" data-target="vazifa-c4">Vazifalari <i class="i-dropdown"></i></button>
                <button class="toggle-btn" data-target="bio-c4">Biografiyasi <i class="i-dropdown"></i></button>
            </div>
        </div>
    </div>
    <div id="vazifa-c4" class="lider-details">
        <h5>Vazifalari (Kurbanova Muazzam)</h5>
        <ul>
            <li>– Respublika kengashining a’zosi hisoblanib, kotibi vazifasini bajaradi;</li>

            <li>– Institut vakolatiga kiradigan masalalar yuzasidan qarorlar qabul qiladi hamda Institutga yuklangan

                vazifalar va funksiyalar amalga oshirilishi uchun shaxsan javob</li>

            <li>beradi;</li>

            <li>– Institutda milliy malaka tizimini rivojlantirish bo‘yicha ilmiy-tadqiqot va ilmiy-metodik ishlar olib

                borish uchun shart-sharoitlar yaratadi;</li>

            <li>– Institut faoliyatini yanada takomillashtirishga taalluqli konsepsiyalar, dasturlar va kompleks

                tadbirlarning bajarilishini tanqidiy hamda chuqur tahlil qiladi;</li>

            <li>– Institut xodimlari uchun bajarilishi majburiy bo‘lgan buyruqlar chiqaradi va ko‘rsatmalar beradi;</li>

            <li>– Institut xodimlarini belgilangan tartibda ishga qabul qiladi va lavozimdan ozod qiladi;</li>

            <li>– Institut nomidan xo‘jalik shartnomalari tuzadi, ishonchnomalar beradi;</li>

            <li>– Direktor qonunchilik hujjatlariga muvofiq boshqa vakolatlarni ham amalga oshiradi.</li>
        </ul>
    </div>
</section>


<script>
    document.querySelectorAll('.toggle-btn').forEach(button => {
        button.addEventListener('click', function () {
            const targetId = this.getAttribute('data-target');
            const targetContent = document.getElementById(targetId);

            document.querySelectorAll('.lider-details').forEach(detail => {
                if (detail.id !== targetId) {
                    detail.style.display = 'none';
                }
            });

            if (targetContent) {
                const currentDisplay = window.getComputedStyle(targetContent).display;
                if (currentDisplay === 'none') {
                    targetContent.style.display = 'block';
                } else {
                    targetContent.style.display = 'none';
                }
            }
        });
    });
</script>