<section class="lider">
    <div class="lider-card">
        <img src="../../images/tuzilmalar-img-2.png" alt="">
        <div class="lider-card-text">
            <p><span></span>Institut direktori</p>
            <h4>Allabergenov Anvar Alimbayevich</h4>
            <div class="lider-card-text-link">
                <a href=""><i class="i-phone"></i>+99855-516-54-51</a>
                <a href=""><i class="i-maile"></i>a.allabergenov@mmtri.uz</a>
                <a href=""><i class="i-calendar"></i>Dushanba 09:00 - 18:00</a>
            </div>
            <div class="lider-card-text-top"></div>
            <div class="lider-card-text-button">
                <button class="lider-card-text-button-btn1">Vazifalari <i class="i-dropdown"></i></button>
                <button class="lider-card-text-button-btn2">Biografiyasi <i class="i-dropdown"></i></button>
            </div>
        </div>
    </div>

    <div class="lider-left">
        <div class="lider-left-img">
            <img src="../../images/Direktor.png" alt="" class="lider-left-img-shef">
            <img src="../../images/qoshma.png" alt="" class="lider-left-img-gerb">
        </div>
         <div class="lider-card-text">
            <p><span></span>Institut direktori</p>
            <h4>Allabergenov Anvar Alimbayevich</h4>
            <div class="lider-card-text-link">
                <a href=""><i class="i-phone"></i>+99855-516-54-51</a>
                <a href=""><i class="i-maile"></i>a.allabergenov@mmtri.uz</a>
                <a href=""><i class="i-calendar"></i>Dushanba 09:00 - 18:00</a>
            </div>
            <div class="lider-card-text-top"></div>
            <div class="lider-card-text-button">
                <button class="lider-card-text-button-btn1">Vazifalari <i class="i-dropdown"></i></button>
                <button class="lider-card-text-button-btn2">Biografiyasi <i class="i-dropdown"></i></button>
            </div>
        </div>
    </div>

    <div class="lider-left">
        <div class="lider-left-img">
            <img src="../../images/Direktor.png" alt="" class="lider-left-img-shef">
            <img src="../../images/qoshma.png" alt="" class="lider-left-img-gerb">
        </div>
         <div class="lider-card-text">
            <p><span></span>Institut direktori</p>
            <h4>Allabergenov Anvar Alimbayevich</h4>
            <div class="lider-card-text-link">
                <a href=""><i class="i-phone"></i>+99855-516-54-51</a>
                <a href=""><i class="i-maile"></i>a.allabergenov@mmtri.uz</a>
                <a href=""><i class="i-calendar"></i>Dushanba 09:00 - 18:00</a>
            </div>
            <div class="lider-card-text-top"></div>
            <div class="lider-card-text-button">
                <button class="lider-card-text-button-btn1">Vazifalari <i class="i-dropdown"></i></button>
                <button class="lider-card-text-button-btn2">Biografiyasi <i class="i-dropdown"></i></button>
            </div>
        </div>
    </div>
</section>