<section class="manners">
    <div class="manners-text">
        <h2>Milliy malaka tizimini rivojlantirish instituti xodimlarining odob-axloq qoidalari</h2>
        <div class="top"></div>
        <div class="manners-text-list">
            <h3>I. Umumiy qoidalar </h3>
            <p>Taʼlim sifatini taʼminlash milliy agentligining Milliy malaka tizimini rivojlantirish instituti
                xodimlarining odob-axloq qoidalari (keyingi oʻrinlarda “Qoidalar” deb yuritiladi) xodimlarning egallab
                turgan lavozimidan qatʼiy nazar kasbiy madaniyati, xizmat faoliyati davomida hamda xizmatdan tashqari
                vaqtda odob-axloqi, tashqi koʻrinishi va kiyinish uslubining asosiy qoidalari yigʻindisidan iborat.
                Qoidalar davlat xizmatida yuksak kasbiy madaniyatni shakllantirish, jamoatchilik ongida davlat xizmatiga
                boʻlgan hurmat va ishonchni oshirish hamda davlat xizmatchilarining axloq qoidalariga zid boʻlgan
                xatti-harakatlarining oldini olishga qaratilgan.
                Xodimning Qoidalarga amal qilish majburiyati Taʼlim sifatini taʼminlash milliy agentligining Milliy
                malaka tizimini rivojlantirish institutiga ishga qabul qilingan kundan boshlab kelib chiqadi.
                Ishga kirayotgan shaxslar Qoidalar bilan imzo qoʻydirgan holda tanishtiriladilar.
                Xodimlar barcha qonunchilik hujjatlari va Qoidalar talablariga rioya etishlari shart. Qoidalarga rioya
                etish xodimlarning kasbiy foliyatini va xizmatdagi xulq-atvorini baholash mezonlaridan biri hisoblanadi.
                Qoidalarga rioya qilinishi holati ularni kelgusida yuqori lavozimlarga tayinlash va rahbar kadrlar
                zaxirasini shakllantirishda hisobga olinadi.</p>
        </div>
        <div class="manners-text-list">
            <h3>II.Xodimlarning xizmatdagi xulq-atvorining asosiy prinsiplari va qoidalari </h3>
            <p>Xodimlar oʻz kasbiy faoliyatini quyidagi prinsiplar asosida amalga oshirishlari kerak:
                vatanga sadoqat va xizmat vazifasiga fidoyilik, yuklangan funksional vazifalarini toʻliq bajarish, ijro
                intizomiga qatʼiy rioya etish;
                fuqarolar huquqlari, erkinliklari va qonuniy manfaatlarining ustuvorligi;
                davlat va jamiyat manfaatlariga sodiqlik;
                adolatlilik, halollik va xolislik;
                korrupsiyaviy holatlarga murosasiz munosabatda boʻlish va qarshi kurashish;
                xizmat sirini qatʼiy saqlash;
                mansab vakolatlarini suiisteʼmol qilmaslik;
                manfaatlar toʻqnashuviga yoʻl qoʻymaslik.
                Xodimlar mehnat faoliyati davomida va ishdan tashqari vaqtda xulqatvorning quyidagi umumiy qoidalariga
                amal qilishi lozim:
                davlat xizmatining obroʻsiga putur yetkazishi mumkin boʻlgan xattiharakatlardan tiyilish, axloq
                normalariga doimiy rioya qilish;
                masʼuliyat, kasbiga sadoqat va halollikni kundalik shiorga aylantirish;
                murakkab vazifalarni bajarishda hamkasblariga koʻmaklashish;
                xushmuomalalik, eʼtiborlilik va hushyorlik bilan fuqarolarda davlatga nisbatan ishonch va hurmat hissini
                uygʻotish;
                oilasida sogʻlom muhitni taʼminlab, oila aʼzolariga doimiy gʻamxoʻr boʻlish, farzandlarida
                vatanparvarlik va boshqa yuksak axloqiy fazilatlarni shakllantirish;
                fuqarolarning ijtimoiy kelib chiqishi, iqtisodiy ahvoli va boshqa omillardan qatʼi nazar, ular bilan bir
                xil, samimiy, odob doirasida munosabatda boʻlish;
                jamiyatda axloqning umumeʼtirof etilgan qoidalariga amal qilish.</p>
        </div>
    </div>
</section>