<section class="nashirlar">
    <h2>Tarmoq malaka ramkasini ishlab chiqish va yangilash metodologiyasi</h2>
    <div class="nashirlar-top"></div>
    <div class="nashirlar-button">
        <div class="nashirlar-button-birlik">
            <button class="nashirlar-button-birlik-button1"><i class="i-calendar"></i>18 dekabr 2025</button>
            <button class="nashirlar-button-birlik-button2"><i class="i-eye"></i>126</button>
            <button class="nashirlar-button-birlik-button3">4</button>
        </div>
        <div class="nashirlar-button-rait">
            <button>Chop etish</button>
            <button>Yuklab olish</button>
        </div>
    </div>
    <img src="../../images/nashirlar.png" alt="">
</section>