<section class="qonunlar">
    <div class="qonunlar-nomi">
        <h3>Nomi</h3>
        <h3>Sanasi va raqami</h3>
        <h3>Yuklab olish</h3>
    </div>
    <div class="top"></div>
    <div class="qonunlar-nomi">
        <p>Ta’lim to’g’risida</p>
        <p>23.09.2020 y. O‘RQ-637-son</p>
        <button><img src="../../images/download.svg" alt="">Yuklab olish</button>
    </div>
    <div class="top"></div>
    <div class="qonunlar-nomi">
        <p>Davlat xaridlari to‘g‘risida</p>
        <p>22.04.2021 y. O‘RQ-684-son</p>
        <button><img src="../../images/download.svg" alt="">Yuklab olish</button>
    </div>
    <div class="top"></div>
    <div class="qonunlar-nomi">
        <p>Manfaatlar to‘qnashuvi to‘g‘risida   </p>
        <p>05.06.2024 y. O‘RQ-931-son</p>
        <button><img src="../../images/download.svg" alt="">Yuklab olish</button>
    </div>
    <div class="top"></div>
    <div class="qonunlar-nomi">
        <p>Aholi bandligi to’g’risida</p>
        <p>20.10.2020 y. O‘RQ-642-son</p>
        <button><img src="../../images/download.svg" alt="">Yuklab olish</button>
    </div>
</section>