<section class="tadbirlar">
    <div class="tadbirlar-card">
        <img src="../../images/tadbirlar-img.png" alt="">
        <div class="tadbirlar-card-left">
            <h4>Italiyaning Turin shahrida “Markaziy Osiyoda kasbiy va malaka....</h4>
            <p>Turin shahri bugungi kunda Markaziy Osiyo davlatlari uchun muhim muloqot va hamkorlik maydoniga aylangan...</p>
            <div class="tadbirlar-card-left-top"></div>
            <div class="tadbirlar-card-left-rait">
                <p><i class="i-calendar"></i>13 Dekabr 2025</p>
                <p><i class="i-eye"></i>234</p>
            </div>
        </div>
    </div>
    <div class="tadbirlar-card">
        <img src="../../images/tadbirlar-img-2.png" alt="">
        <div class="tadbirlar-card-left">
            <h4>Italiyaning Turin shahrida “Markaziy Osiyoda kasbiy va malaka....</h4>
            <p>Turin shahri bugungi kunda Markaziy Osiyo davlatlari uchun muhim muloqot va hamkorlik maydoniga aylangan...</p>
            <div class="tadbirlar-card-left-top"></div>
            <div class="tadbirlar-card-left-rait">
                <p><i class="i-calendar"></i>13 Dekabr 2025</p>
                <p><i class="i-eye"></i>234</p>
            </div>
        </div>
    </div>
</section>