<header class="header" role="banner">
    <div class="container">
        <a href="/" class="logo light" aria-label="Home">
            <img src="../../images/logo.svg" alt="Logo" class="header-brand-img" />
            <span>Milliy malaka <br> tizimini rivojlantirish <br> instituti</span>
        </a>

        <div class="header-top"></div>
        <div class="header-content">
            <div class="header-actions">
                <div class="header-actions-action">
                    <a href="#"><i class="i-maile"></i>info@mmtri.uz</a>
                    <a href="#"><i class="i-phone"></i>+99855 516-54-53 (0)</a>
                </div>
                <div class="header-actions-divider">
                    <div class="header-actions-divider-icons">
                    <i class="i-instagram"></i>
                    <i class="i-telegram"></i>
                    <i class="i-facebook"></i>
                    <i class="i-youtube"></i>
                    </div>
                    <div class="header-actions-divider-line"></div>
                    <div class="header-actions-divider-search"><i class="i-search"></i></div>
                    <div class="header-actions-divider-line"></div>
                    <div class="header-actions-divider-user">
                        <img src="../images/uzb.svg" alt="">
                        <a href="">O’zbekcha</a>
                        <i class="i-dropdown"></i>
                    </div>
                </div>
            </div>
            <div class="top2"></div>
            <div class="header-main">
                <nav class="header-main-nav">
                    <a href="../../faq.html">Institut <i class="i-dropdown"></i></a>
                    <a href="#">Faoliyat<i class="i-dropdown"></i></a>
                    <a href="#">Xizmatlar</a>
                    <a href="#">Tadbirlar<i class="i-dropdown"></i></a>
                    <a href="#">Axborot Xizmati<i class="i-dropdown"></i></a>
                </nav>
                <button>Bog’lanish <i class="i-arrow"></i></button>
            </div>
        </div>

        <button class="header__menu-btn " hidden type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu" aria-expanded="false">
            <span class="header__burger" aria-hidden="true"></span>
        </button>
    </div>
</header>