<section class="croup">
    <div class="container">
        <div class="croup-text">
            <h2>Malaka oshirish kurslari</h2>
            <button>Batafsil <i class="i-arrow"></i></button>
        </div>
        <div class="croup-main">
        <div class="croup-main-card">
            <p><img src="../../images/croup-img-1.svg" alt="">Talabgorlarga</p>
            <div class="croup-main-card-top"></div>
            <h5>Platforma orqali malakani baholash <br> markazlari, malaka sertifikatlari, <br> mashg'ulotlar klassifikatori,</h5>
        </div>

        <div class="croup-main-card">
            <p><img src="../../images/croup-img-1.svg" alt="">Talabgorlarga</p>
            <div class="croup-main-card-top"></div>
            <h5>Platforma orqali malakani baholash <br> markazlari, malaka sertifikatlari, <br> mashg'ulotlar klassifikatori,</h5>
        </div>

        <div class="croup-main-card">
            <p><img src="../../images/croup-img-1.svg" alt="">Talabgorlarga</p>
            <div class="croup-main-card-top"></div>
            <h5>Platforma orqali malakani baholash <br> markazlari, malaka sertifikatlari, <br> mashg'ulotlar klassifikatori,</h5>
        </div>
        
        <div class="croup-main-card">
            <p><img src="../../images/croup-img-1.svg" alt="">Talabgorlarga</p>
            <div class="croup-main-card-top"></div>
            <h5>Platforma orqali malakani baholash <br> markazlari, malaka sertifikatlari, <br> mashg'ulotlar klassifikatori,</h5>
        </div>
        </div>
    </div>
</section>