<section class="cta">
    <h2>Foydali havolalar</h2>
    <div class="owl-carousel">
        <div class="cta-card">
            <div class="cta-card-card1">
                <img src="../../images/dawun.svg" alt="">
                <div class="cta-card-card1-text">
                    <p>O‘zbekiston Respublikasi Oliy <br> Majlisining Inson huquqlari bo‘yicha <br> vakili (Ombudsman)
                    </p>
                    <a href="#">http://ombudsman</a>
                </div>
            </div>
        </div>

        <div class="cta-card">
            <div class="cta-card-card1">
                <img src="../../images/dawun.svg" alt="">
                <div class="cta-card-card1-text">
                    <p>O‘zbekiston Respublikasi Oliy <br> Majlisining Inson huquqlari bo‘yicha <br> vakili (Ombudsman)
                    </p>
                    <a href="#">http://ombudsman</a>
                </div>
            </div>
        </div>

        <div class="cta-card">
            <div class="cta-card-card1">
                <img src="../../images/dawun.svg" alt="">
                <div class="cta-card-card1-text">
                    <p>O‘zbekiston Respublikasi Oliy <br> Majlisining Inson huquqlari bo‘yicha <br> vakili (Ombudsman)
                    </p>
                    <a href="#">http://ombudsman</a>
                </div>
            </div>
        </div>

        <div class="cta-card">
            <div class="cta-card-card1">
                <img src="../../images/dawun.svg" alt="">
                <div class="cta-card-card1-text">
                    <p>O‘zbekiston Respublikasi Oliy <br> Majlisining Inson huquqlari bo‘yicha <br> vakili (Ombudsman)
                    </p>
                    <a href="#">http://ombudsman</a>
                </div>
            </div>
        </div>

        <div class="cta-card">
            <div class="cta-card-card1">
                <img src="../../images/dawun.svg" alt="">
                <div class="cta-card-card1-text">
                    <p>O‘zbekiston Respublikasi Oliy <br> Majlisining Inson huquqlari bo‘yicha <br> vakili (Ombudsman)
                    </p>
                    <a href="#">http://ombudsman</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            items: 6,
            loop: true,
            margin: 10,
            autoplay: true,
            autoplayTimeout: 1000,
            autoplayHoverPause: true
        });
        $('.play').on('click', function () {
            owl.trigger('play.owl.autoplay', [1000])
        })
        $('.stop').on('click', function () {
            owl.trigger('stop.owl.autoplay')
        })
    </script>
</section>