<section class="hero-wraper">
    <div class="hero-wraper-img">
        <img src="../../images/Group.png" alt="">
        
    </div>
<div class="hero-wraper-img-top">
            <p><i class="i-calendar"></i>16 Dekabr 2025</p>
            <h2>Milliy malaka tizimining joriy holati va uni <br> rivojlantirish bo‘yicha istiqbolli vazifalar</h2>
            <h5>Turin shahri bugungi kunda Markaziy Osiyo davlatlari uchun muhim muloqot va hamkorlik <br> maydoniga aylangan...</h5>
            <button>Batafsil o‘qish <i class="i-arrow"></i></button>
        </div>
</section>